* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  //z-index: 1;
}

.h1 {
  z-index: 2;
}

.judul {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -75%);
}
